* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Helvetica, sans-serif
}
html,
body {
    height:100%;
    width:100%;
}
#main{
    height: 100%;
    width:100%;
    background: #ededed;
    display: grid;
    grid-template-columns: 25% 25% 50% ;
    grid-template-rows: 20% 60% 20%;
}

#left-top-left{
    /* background: pink; */
    padding: 40px;
}
#square{
    height: 15px;
    width: 15px;
    rotate: 45deg;
    background: black;
}
#right{
    /* background-color: crimson; */
    grid-row: 1/4;
    grid-column: 3/4;
    overflow: hidden;
    padding: 40px;
    padding-right: 100px;
    position: relative;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#left-center{
    /* background: green; */
    grid-column: 1/3;
    padding: 40px;
}
#left-center h1{
    font-size: 7vw;
    text-transform: uppercase;
    line-height: 6.5vw;
    font-weight: 300;
}
#left-center h1:nth-child(2n){
    text-align: center;
    
}
#left-bottom{
    /* background: yellow; */
    grid-column: 1/3;
    padding: 40px;
}
#left-bottom p {
    width: 80%;
}   
#left-top-right{
    /* background: navy ; */
    justify-self: end;
    padding: 40px;
    text-align: right;
}
#left-top-right h4{
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: semibold;
    /* background: #000; */
}
#left-top-right h5{
    font-size: 1rem;
    font-weight: normal;

}
#arrow{
    background-color: red !important;
    position: absolute;
    top: 50%;
    left: 0%;
    cursor: pointer;
    transform: translateY(-50%);
    display: flex;
align-items: center;
justify-content: center;
width: 80px;
height: 80px;
color: white;
/* padding: 20px; */
font-size: 3em;

border-radius: 50%;
}

.menu-icon{
    display: none;
}
@media (max-width:550px){
    #main{
        width:100%;
    background: #ededed;
    display: grid;
    grid-template-columns:50% 50% ;
    grid-template-rows: 60px 40% 52%;
}

#left-top-left{
    /* background: pink; */
    padding: 20px;
}
#square{
    height: 15px;
    width: 15px;
    rotate: 45deg;
    background: black;
}
#right{
    /* background-color: crimson; */
    grid-row: 3/4;
    grid-column: 1/3;
    overflow: hidden;
    padding: 20px;
    /* padding-right: 100px; */
    position: relative;
}
#right video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#left-center{
    /* background: green; */
    grid-column: 1/3;
    padding: 20px;
    align-self: center;
}
#left-center h1{
    font-size: 10vh;
    text-transform: uppercase;
    line-height: 9.5vh;
    font-weight: 300;
}
#left-center h1:nth-child(2n){
    text-align: center;
    
}
#left-bottom{
    /* background: yellow; */
    grid-column: 1/3;
    padding: 20px;
}
#left-bottom p {
    width: 100%;
}   
#left-top-right{
    /* background: navy ; */
    justify-self: end;
    padding: 20px;
    text-align: right;

}
#left-top-right h4{
    margin-bottom: 40px;
    font-size: 1.2rem;
    font-weight: semibold;
    display: none;
    /* background: #000; */
}
#left-top-right h5{
    font-size: 1rem;
    display: none;
    font-weight: normal;

}
#arrow{
    background-color: red !important;
    position: absolute;
    top: 50%;
    left: 0%;
    cursor: pointer;
    transform: translateY(-50%);
    display: flex;
align-items: center;
justify-content: center;
display: none;
width: 80px;
height: 80px;
color: white;
/* padding: 20px; */
font-size: 3em;

border-radius: 50%;
}
.menu-icon{
    display: block;
}
}