* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica ;
}
html,
body {
    height:100%;
    width:100%;
}
#box-1{
    width: 150px;
    height: 150px;
    margin: 20px;
    background: crimson;
}
#box-2{
    width: 150px;
    height: 150px;
    margin: 20px;
    background: green;
}
#box-3{
    width: 150px;
    height: 150px;
    margin: 20px;
    background: maroon;
}
#box-4{
    width: 150px;
    height: 150px;
    margin: 20px;
    background: lightseagreen;
}