* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica ;
}
html,
body {
    height:100%;
    width:100%;
}

.nav{
    /* background: crimson; */
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    justify-items: center;
    align-items: center;
    padding: 0 100px ;
}
.nav h1{
    justify-self: start;

}