* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica ;
}
html,
body {
    height:100%;
    width:100%;
}

#box{
    width: 300px;
    height: 300px;
    background: crimson;
}

@media (max-width:600px){
    #box{
        background: red;
    }
}