* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins",sans-serif ;
}
@import url('https://fonts.cdnfonts.com/css/monument');
@font-face {
    font-family: 'Shinchan';
    src: url('./fonts/MonumentExtended-Ultrabold.ttf');
}
html,
body {
    height:100%;
    width:100%;
}
main{
    background: #f8f8f8;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 0.1px;
}
nav{
    height: 10vh;
    margin-top: 20px;
    width: 100%;
    /* background: #000; */
    border-top:2px solid #000;
    border-bottom:2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vw;
}
nav .nav-2 h2{
    height: 100%;
    /* width: 16%; */
    padding: 0px 4vw;
    display: flex;
    /* background: yellow; */
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    font-size: 1.2vw;
    border-right: 2px solid;
}
.nav-2{
    display: flex;
    height: 100%;
    
}
nav h1{
    font-size: 2.5vw;
    /* font-family: Arial, Helvetica, sans-serif;  */
    /* font-weight: 500; */
    letter-spacing: -0.10vw;
    text-transform: lowercase;
    font-family: Shinchan;
                                                
}
.nav-2 h2:last-child{
    font-size: 2vw;
    border: none;
}
#section-1{
    height: 100%;
    width: 100%;
    /* background: crimson; */
    padding: 4vw;
    position: relative;
}

#content{
    height: 100%;
    width: 100%;
    background: black;
    position: relative;
}
#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
    opacity: 0.7;
}
#content #overlay{
    width: 100%;
    height: 50%;
    position: absolute;

    /* background: #4a4848; */
    bottom: 50;
    padding: 3vw;
    color: white;
}
#content #overlay #over1{
    font-size: 2vw;
    display: flex;
    justify-content: space-between;
    line-height: 1.2;
    align-items: center;
}
#content #overlay #over1 h1{
    font-family: Shinchan;

}
#content #overlay #over1 h2{
    font-size: 1.3vw;
    /* background: #000; */
    letter-spacing: 1;
    font-weight: normal;
}
#content #overlay #over2{
    border-top: 2px solid #fff;
    margin-top: 30px;
    padding-top:20px ;
    display: flex;
justify-content: space-between;
align-items: center;
}
#content #overlay #over2 h1{
    font-size: 1vw;
    font-weight: normal;
}
#content #overlay #over2 img{
    rotate: 90deg;
    filter: invert(1);
    width: 40px;
}
#section-2{
    width: 100%;
    height: 40vh;
    /* background: red; */
    white-space: nowrap;
    overflow-x: hidden;
}
#section-2 img{
    /* display: none; */
    height: 100%;
    width: 15%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin: 0 1vw;
}
img:nth-child(2){
    object-position:0 80% !important;   
    /* width: 100%; */
    /* display: none; */
}
img:nth-child(4){
    object-position:0 80% !important;   
    /* width: 100%; */
    /* display: none; */
}
img:nth-child(5){
    object-position:0 50% !important;   
    /* width: 100%; */
    /* display: none; */
}
img:nth-child(6){
    object-position:0 40% !important;   
    /* width: 100%; */
    /* display: none; */
}

.scroll-container{
    width: 100%;
    height: 90%;
    /* background: green; */
    display: inline-block;
    padding: 1vw;
    /* gap: 10px; */
    animation: slider 10s infinite linear;
    
}

#section-3{
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
gap: 1vw;
margin-bottom: 80px;}
#section-3 h5{
    text-transform: uppercase;
    font-size:1.5vw;
    font-style: italic;
    font-weight: 400;
    border-bottom: 2px solid #000;
    letter-spacing: 5px;
font-weight:normal;
margin-right: 10px;
}
#section-3 h6{
    font-size: 1vw;
    text-transform: uppercase;
    padding: 0.5vw 0.9vw ;
    border-radius: 50%;
    /* background: yellow; */
    border: 2px solid #00000000;
font-weight:normal;
transition: all 0.3s ease;
}
@keyframes slider {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);;
    }
}

#section-3 h6:hover{
    border-color: #000;
    cursor: pointer;
}
#section-4{
    height: 100%;
width: 100%;
display: flex;
align-items: start;
/* justify-content: center; */
/* align-items: center; */
padding: 0 5vw;
gap: 3vw;
position: relative;
}

.section4-part1{
    background: url('https://images.unsplash.com/photo-1729808783993-fda4a4f407ce?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    width: 60%;
    height: 90%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}
.section4-part2{
    /* background: red; */
    width: 40%;
    height: 90%;
}
.section4-part2 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.section4-part2-desc{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    width: 100%;
    padding-top: 30px;
}
.section4-part2-desc h4{
    width: 100%;
    font-weight: 600;
    line-height: 1.3;
}
.section4-part2-desc p{
    font-size: 0.7vw;
    font-weight: 600;
}

.absolute{
    position: absolute;
    bottom: -10%;
    font-size: 2vw;
    font-weight: 700;
    font-family: Shinchan;
}
.circle-text{
    position: relative;
    /* background: yellow; */
    width: 180px;
}
#section-5{
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    /* background: #000; */
}
.circle-text h2 img{
    rotate: 90deg;
    position: absolute;
    top: 35%;
    left: 35%;
    display: none;
    transform: translate(-50% -50%);
}
.section5-left{
    width: 40%;
    height: 100%;
    /* background: crimson; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;

}
.section5-left-top {
    /* background: #000; */
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    /* gap: 300px; */
}
.section5-left-top img{
    width: 300px;
    position: relative;
}
.section5-left-bottom h4{
    font-weight: normal;
}
.section5-left-top h2 img{
    position: absolute;
    /* top: 0; */
    rotate: 90deg;
    width:80px;
    top:50%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.section5-right{
    width: 60%;
    height: 100%;
    background: green;
}
.section5-right{
    
    width: 50%;
    height: 600px;
    overflow: hidden;
    background-position: center;
}
.section5-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}