* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "poppins" ;
}
html,
body {
    height:100%;
    width:100%;
}
main{
    height: 100%;
    width: 100%;
    /* overflow-x: hidden; */
}
nav{
    height: 70px;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

nav #nav-2{
    display: flex;
    align-items: center;
    gap: 40px;
}
nav #nav-2 h4{
    font-size: 0.9rem;
    color: #000000c3;
    cursor: pointer;
    font-weight: 500;
}
nav #nav-2 h4 span{
    color: #666;
    margin-left: 5px;
}
nav #nav-1{
    display: flex;
    /* gap: 2px; */
}
.gola{
    width: 20px;
    height: 20px;
    background:#000000ea;

    border-radius: 50%;
}

header{
    padding: 0 40px;
    /* background: red; */
    height: 30px;
    align-items: center;
    display: flex;
    gap: 100px;
    text-transform: uppercase;
}
header h4{
    font-weight: 500;
    font-size: 0.95rem;
    color: #000000c3;
}
#section-1{
    height: calc(100% - 100px);
    width: 100%;
    /* background: rgb(219, 253, 253); */
}
#section-1 #text-content{
    height: 45%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#section-1 #text-content::-webkit-scrollbar{
    /* display: none; */
    background: transparent;
    width: 50px;
    height: 7px;
}

#section-1 #text-content::-webkit-scrollbar-thumb{
    background: orange;
    border-radius: 10px;
    /* width: 50px; */
}
.elem{
    height: 100%;
    width: 60%;
    /* background: red; */
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    display: flex;
    gap: 60px;
    margin-top: 80px;

}
.elem>p{
    font-weight: 600;
    font-size: 1rem;
}
.elem div{
    display: flex;
    flex-direction: column;
    /* gap: -100px; */
}
.elem div p{
    color: gray;
}
.elem div h1{
    margin-top: -20px;
}
.relative{
    position: relative;
}
.elem h1{
    font-size: 6rem;
    font-weight: 300;
}
#image-content {
    width: 100%;
    height: 55%;
    overflow-x: auto;
    background-size:cover;
    display: flex;
    background-position: top;
    background-repeat: no-repeat;
    overflow-x:scroll;

}
#image-content img{
    width:100%;
    flex-shrink: 0;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}
#image-content::-webkit-scrollbar{
    display: none;
}