* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica ;
}
html,
body {
    height:100%;
    width:100%;
}

#box-1{
    width: 100%;
    height: 100%;
    background: rgb(225, 243, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-2{
    width: 100%;
    height: 100%;
    background: rgb(144, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
#box-3{
    width: 100%;
    height: 100%;
    background: rgb(144, 203, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(crimson,maroon);
}