* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica ;
}
html,
body {
    height:100%;
    width:100%;
}
body{
    background: #000;
    padding: 5vw;
}
#btn1{
    padding: 10px 20px;
    background: transparent;
    border:2px solid lightseagreen;
    color: lightseagreen;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: all linear 0.5s;
/* mix-blend-mode: difference; */
}
#btn2{
    padding: 10px 20px;
    background: transparent;
    border: 2px solid white;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: all linear 0.5s;
    color: white;
    margin-left: 10px;
    overflow: hidden;
}
#btn1::before{
    background: lightseagreen;
    content: "";
    position: absolute;
    width:0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all linear 0.5s;
    cursor: pointer;
}
#btn2::before{
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transition: all linear 0.5s;
    transform: translate(-50%,-50%) scale(0);
}
#btn1:hover::before{
    transform: scale(1);
    transform-origin: left;
    width: 100%;
}
#btn2:hover::before{
    transform: translate(-50%,-50%) scale(4);
}
#btn2:hover{
    color: black;
}
#btn1:hover{
    color: white;
}
