* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica ;
}
html,
body {
    height:100%;
    width:100%;
}

#box{
    width: 200px;
    height: 200px;
    background: crimson;
    margin: 10px;
    animation-name: move;
    position: absolute;
    left: 0;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate  ;
    animation-iteration-count: infinite;
}

@keyframes move{
    /* initial value */
    from{
        left: 0;
    }
    /* final value */
    to{
        left:60%;
        background: green;
        transform: scale(0.9);
        /* rotate: 45deg; */
    }
}
img{
    height: 200px;
    position: relative;
    animation-name: moving;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction:alternate;
}
@keyframes moving{
    0%{
        left: 0;
        rotate: 0deg;
    }
    50%{
        left: 60%;
        top: 0;
        rotate: 0deg;
    }
    100%{
        left: 60%;
        top: 60%;
        rotate: 360deg;
    }
}